* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.hero {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/259422c0-c399-4047-baf2-44bac5612ac1/8f14dfa2-54bd-4665-bfb1-4b5d92a92748/VE-es-20240819-POP_SIGNUP_TWO_WEEKS-perspective_WEB_6598675a-cf7e-45a7-9dc7-68a877c9ce96_large.jpg");
    background-size: 100%;
    height: 90vh;
}
.fondo {
    height: 90vh;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 100;
}

/* nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
    z-index: 200;
}
.svg-netflix {
    width: 14%;
    fill: rgb(229, 9, 20);
    z-index: 200;
}
.botones{
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 200;
}
/* .lang {
    display: flex;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.568);
    border-color: white ;
} */
nav div button {
    background-color: red;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
nav div select {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
}
option {
    padding: 15px;
}


/* main */
.main{
    color: white;
    padding: 0 9.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 30px;
}

/* section */
.medio-camino{
    width: 60%;
    z-index: 200;
}
.div-titulos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.Titulo{
    font-size: 4rem;
}
.parrafo{
    font-size: 1.2rem;
}

/* article */
.final{
    width: 60%;
    z-index: 200;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.parrafo-ingreso{
    text-align: center;
}


.ingreso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
/* Email */
input{
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    padding-left: 15px;
    color: white;
    width: 450px;
    height: 50px;
}

/* button */
.comenzar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: red;
}
.svg{
    color: white;
    fill: currentColor;
}